<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="Description"
			content="Author: Rishav Rungta, Purpose: I made this site as a larning project and will try and use react soon.">
		<title>BloodBank</title>

		<!-- Compiled latest Css -->
		<link rel="stylesheet" href="materialize.min.css" />

		<!--Import Google Icon Font-->
		<link href="icon.css" rel="stylesheet" />

		<link rel="stylesheet" href="donate.css">
	</head>

	<body>
		<!-- Nav -->
		<nav class="mynav">
			<div class="nav-wrapper container">
				<a href="/"><img src="bbi-logo.png" alt="Universe" class="brand-logo"></a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="btn transparent" href="/bank">Check Donors</a></li>
					<li><a class="btn transparent" href="/logout">Log Out</a></li>
				</ul>
			</div>
		</nav>

		<ul class="sidenav" id="mobile-demo">
			<li><a class="btn red" href="/bank?blood=&city=&zeros=on">Check Donors</a></li>
			<li><a class="btn red" href="/logout">Log Out</a></li>
		</ul>

		<!-- Crap -->
		<div class="center flow-text">
			<h4>Welcome <%= user.name %>. </h4>
			<p>You have donated <%= user.amount %> Pint blood so far.</p>
		</div>
		<div class="row center">
			<form action="/donate" method="post" id="amountForm">
				<input required id="amount" name="amount" type="number" max="5" value="0" class="browser-default">
				<span class="red-text">P</span><br>
				<a onclick="document.getElementById('amountForm').submit();"
					class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
			</form>
		</div>

		<!--Import Font Awesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		</link>
		<!-- Footer -->
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col s12 m8 l9">
						<h5 class="white-text">About me!</h5>
						<p class="grey-text text-lighten-4">17BCE2374 RISHAV RUNGTA</p>
						<p class="grey-text text-lighten-4">I made this project in accordance to my IWP Digital Assignment.</p>
					</div>
					<div class="col s12 m4 l3">
						<h5 class="white-text">Contact</h5>
						<ul>
							<li><i class="fab fa-facebook"></i><a class="grey-text text-lighten-4"
									href="https://www.facebook.com/rishav.rungta"> Facebook</a></li>
							<li><i class="fab fa-instagram"></i><a class="grey-text text-lighten-4"
									href="https://www.instagram.com/_rungta/"> Instagram</a></li>
							<li><i class="fab fa-github"></i><a class="grey-text text-lighten-4" href="https://github.com/rishav394/">
									Github</a></li>
							<li><i class="fab fa-whatsapp"></i><a class="grey-text text-lighten-4" href="#"> Whatsapp</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2019 Copyright 17BCE2374
					<a class="grey-text text-lighten-4 right" href="#">Thanks</a>
				</div>
			</div>
		</footer>
		<script src="jquery.min.js"></script>
		<script src="materialize.min.js"></script>
		<script src="donate.js"></script>
	</body>

</html>