<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l9">
        <h5 class="white-text">About me!</h5>
        <p class="grey-text text-lighten-4">RISHAV RUNGTA</p>
        <p class="grey-text text-lighten-4">
          I made this project in accordance to my IWP Digital Assignment.
        </p>
      </div>
      <div class="col s12 m4 l3">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li>
            <i class="fab fa-facebook"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://www.facebook.com/rishav.rungta"
            >
              Facebook</a
            >
          </li>
          <li>
            <i class="fab fa-instagram"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://www.instagram.com/_rungta/"
            >
              Instagram</a
            >
          </li>
          <li>
            <i class="fab fa-github"></i
            ><a
              class="grey-text text-lighten-4"
              href="https://github.com/rishav394/"
            >
              Github</a
            >
          </li>
          <li>
            <i class="fab fa-whatsapp"></i
            ><a class="grey-text text-lighten-4" href="#"> Whatsapp</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright Rishav Rungta
      <a class="grey-text text-lighten-4 right" href="#">Thanks</a>
    </div>
  </div>
</footer>
